*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10vh;
    margin-bottom: 7vh;
    font-size: 70px;
}

table {
    border-collapse: collapse;
    width: 70%;
    border: 2px solid black;
}

th, td {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(109, 107, 107, 0.437);
}

tr:hover {
    background-color: rgba(109, 107, 107, 0.437);
}

.tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
}
  
 
  

  

  
  
    